**/node_modules
**/.next
**/.turbo
**/.vercel
**/dist
**/build
**/coverage
**/.env*
!**/.env.example
**/.git
**/.github
**/.vscode
**/.idea
**/*.log
**/.DS_Store
apps/mobile
supabase/.branches
supabase/.temp
